<div class="container col">
  <input type="text" class="show item" [value]="result">
  <div class="keypad item col">
    <div class="fr1">
      <div class="button clear item" (click)="reset()">C</div>
      <div class="button item" *ngFor="let item of ['/' , '*' ,'-' ]" (click)="getValue(item)">{{item}}</div>
    </div>
    <div class="sr1">
      <div class="fc">
        <div class="fr2">
          <div class="button numbers" *ngFor="let item of [7 , 8 ,9 , 4 , 5 ,6,1 , 2 ,3]" (click)="getValue(item)">{{item}}</div>
          <div class="sr2">
            <div class="button item" *ngFor="let item of ['0']" style="width: 150px;" (click)="getValue(item)">{{item}}</div>
            <div class="button item" *ngFor="let item of ['.']" (click)="getValue(item)">{{item}}</div>
          </div>
        </div>     
      </div>
      <div class="sc">
        <div class="tworows button item" *ngFor="let item of ['+']" (click)="getValue(item)">{{item}}</div>
        <div class="tworows button equal item" (click)="getResult()">=</div>
      </div>
    </div>
    
  </div>
</div>
