/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right top, #bbab8c, #c4b496, #ccbda1, #d5c7ab, #ded0b6);
}



